{% extends 'blog_base.html' %}

{% block content %}
	<div class="col-md-12">
        <article class="blog-post">
            <div class="blog-post-image">
                {% if post.image %}
                    <img src="{{ post.image.url }}" height='400px'>
                {% endif %}
            </div>
            <div class="blog-post-body">
                <div class="post-meta"><i class="fa fa-clock-o"></i>{{ post.register_date }}</div>
                <div class="blog-post-text">
                    {% autoescape off %}{{ post.first_paragraph  }}{% endautoescape %}
                    {% autoescape off %}{{ post.content }}{% endautoescape %}
                </div>
            </div>
        </article>
    </div>
{% endblock content %}

{% block about_me %}
{% endblock about_me %}

{% block header %}
    <section>      
        <div class="overlay"></div>
        <div class="content">
            <div class="container clearfix">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12">
                        <h1>{{ post.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock header %}
