{% load staticfiles %}

<section id="blog" class="gallery" style='background-color: #84C3BE;'>
    <div class="container clearfix">
        <div class="row">
            <div class="col-xs-6">
                <h2 class="heading">Blog</h2>
                <p>Along with the initiative to build this website, it was also to create a blog where I can share some of the things.</p>
                <p>This area is more than anything an initiative to share with others what I am usually learning, researching or creating.</p>
            </div>
            <div class="col-xs-6">
                <h4 class=heading>Last post</h4>
                <p>Description of post</p>
                <a href="#">link of post</a>
            </div>
        </div>
    </div>
</section>
