{% load staticfiles %}

<section id="portfolio" style="background-color: #D7CCC8;" class="text-page">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
                <h2 class="heading">Portfolio</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'img/bellbank_page.png' %}" alt="" class='img-responsive'>
                        <h4>Bellbank page</h4>
                        <p>One of the projects that helped me improve in the design of web systems, was the creation of this web page.</p>
                        <p>I remember that when we designed it, we took as a guide the new google patros (material desing), this gave the bank a more updated and innovative view. In collaboration with the project manager we made that design approve.</p>
                        <p>It was a very busy time on launch day.</p>
                        <div class="read-more"><a href="https://www.bellbank.com">See here</a></div>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'img/bellclick_page.png' %}" alt="" class='img-responsive'>
                        <h4>Single Page Generator</h4>
                        <p>Once the need arose to create a website to launch a product, it needed to be something simple and with the style of the product, I was told the idea (I knew other products that were about to come out) and it occurred to me the idea of creating a generator of product templates.</p>
                        <p>My supervisor agreed with the idea, delayed the launch of the product a few days to create a prototype and with this draw a template.</p>
                        <p>Then came the time to draw several products almost in parallel and it was super simple to create a template for each product.</p>
                        <div class="read-more"><a href="https://www.bellbank.com/application/bellclick">See here</a></div>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'img/djangorockstar.png' %}" alt="" class='img-responsive'>
                        <h4>Django Rock Star</h4>
                        <p>Started the Python community in Punta Cana the idea of creating an introduction event for everyone who does not know how to program in a development tool called Django.</p>
                        <p>Part of the things that the event should have was a web page where participants and mentors could be registered who wanted to help the community.</p>
                        <p>A co-worker asked me to help him with the part of the register of participants and mentors, I without much thought I told him that because I had no problem. We select a design and set up the website.</p>
                        <p>I leave the link below to see the workshops we teach if you are in Punta Cana and you like web development.</p>
                        <div class="read-more"><a href="https://www.djangorockstar.com.do">See here</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
