<section id="skills" style="background-color: #FFCCBC">
      <div class="container">
        <div class="row services">
          <div class="col-md-12">
            <h2 class="heading">Skills</h2>
            <div class="row">
             <div class="col-sm-6">
                <div class="box">
                  <div class="icon"><i class="fa fa-desktop"></i></div>
                  <h4>Webdesign</h4>
                  <p>I like to develop web pages, most of my works are web systems that help companies in different ways, either to be present on the internet, or to have a web system that helps them in their operating processes.</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="box">
                  <div class="icon"><i class="fa fa-cogs"></i></div>
                  <h4>Back-end</h4>
                  <p>Many companies currently have stable systems that allow them to operate efficiently, they do not need a new system but they need new options, in order to grow horizontally.</p>
                  <p>In one of the companies that I mention a lot of my work was to design services that provide new options to the great systems that already existed, this is technically known as Microservices.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services end-->
