
<section id="text" style="background-color: #333;" class="text-page section-inverse">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
                <h2 class="heading">Work experience</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Bellbank</h4>
                        <p>On June 1, 2015, thank God, start at that company to work as a Junior Developer Analyst, fulfilling the functions of developing systems that will help users to have a better communication with the institution.</p>
                        <p>My position in that place started very basic and then I was surrendering responsibilities that demanded a greater effort and dedication, this entailed that after a while I was given all the part of Internet banking, thank God I give for this. I learned many things I had excellent teacher and above all it gave me the confidence to grow.</p> 
                        <p>I met fellows of super talented jobs who taught me a lot and that many of these things still apply to them. I will never forget this phrase.</p>
                        <p>The only way to do things is the way things should be done. - Sr. Rafael Flores</p>
                    </div>
                    <div class="col-sm-6">
                        <h4>Grupo Puntacana</h4>
                        <p>After a while in Bellbank I decided that it was time to leave the madrigera and prove to myself that I knew it was not only because I was in that place, it was at that moment that a co-worker told me about a position in Grupo puntacana which it accepts.</p>
                        <p>Accepting this position brought as consequences many things such as: change of province, live independently of my father, reach a place where only I was, one of the most difficult things, adapt to a totally different company to the institution from which I come .</p>
                        <p>To date is the place where I work and thank God everything came out well many would say excellent but for me (that I demand a lot myself) have only gone well.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
