{% extends 'layout/layout.html' %}
{% load static %}

{% block title %} 
    <title>Erasmo Yunior Montes Lora/ Portfolio</title>
{% endblock title %}

{% block intro %}
    {% include 'layout/intro.html' %}
{% endblock intro %}

{% block nav %}
    {% include 'layout/nav.html' %}
{% endblock nav %}

{% block about %}
    {% include 'layout/about.html' %}
{% endblock about %}

{% block skills %}
    {% include 'layout/skills.html' %}
{% endblock skills %}

{% block portfolio %}
    {% include 'layout/portfolio.html' %}
{% endblock portfolio %}

{% block blog %}
    {% include 'layout/blog.html' %}
{% endblock blog %}

{% block work_experence %}
    {% include 'layout/work_experence.html' %}
{% endblock work_experence %}

{% block contact %}
    {% include 'layout/contact.html' %}
{% endblock contact %}

{% block footer %}
    {% include 'layout/footer.html' %}
{% endblock footer %}
