
<section id="text" style="background-color: #333;" class="text-page section-inverse">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="heading">Text page</h2>
            <div class="row">
              <div class="col-sm-6">
                <p>Un Parrafo </p>
              </div>
              <div class="col-sm-6">
                <p>Un Parrafo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
