{% extends 'layout/layout.html' %}

{% block about %}
    {% include 'layout/about.html' %}
{% endblock about %}

{% block service %}
    {% include 'layout/service.html' %}
{% endblock service %}

{% block portafolio %}
    {% include 'layout/portafolio.html' %}
{% endblock portafolio %}

{% block description %}
    {% include 'layout/description.html' %}
{% endblock description %}

{% block contact %}
    {% include 'layout/contact.html' %}
{% endblock contact %}

{% block footer %}
    {% include 'layout/footer.html' %}
{% endblock footer %}
