<section id="intro" style="background-image: url('img/ein-steig.jpg');" class="intro">      
      <div class="overlay"></div>
      <div class="content">
        <div class="container clearfix">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
              <p class="italic">Oh, hello, nice to meet you!</p>
              <h1>I am B&W Landing page or portfolio Theme.</h1>
              <p class="italic">I am a ready to be your portfolio, telling your stories and short presentations.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- intro end-->
